:root{
    --f-color-primary: #8C3A87;
    --f-color-secondary: #BF54B8;
    --f-color-third: #F26DE9;
    --f-color-light: rgba(182, 171, 171, 0.3);
    --f-color-dark: rgb(13, 13, 13);
    --f-color-price-old: #969494;
    --f-color-background : #F2F0F1;
    --f-family-Satoshi: 'Satoshi', sans-serif;
    --f-family-Integral: 'integral_cfheavy', sans-serif;
    --f-width-lg: calc(100vw - 10.5rem);
    --f-width-md: calc(100vw - 6rem);
    --f-width-xs: calc(100vw - 2rem);

}

*{
    font-family: var(--f-family-Satoshi);
}

