:root{
    --f-color-primary: #8C3A87;
    --f-color-secondary: #BF54B8;
    --f-color-third: #F26DE9;
    --f-color-light: #f2f2f2;
    --f-color-dark: #0d0d0d;
    --f-color-price-old: #969494;
    --f-color-background : #F2F0F1;
    --f-family-Satoshi: 'Satoshi', sans-serif;
    --f-family-Integral: 'integral_cfheavy', sans-serif;
    --f-width-lg: calc(100vw - 10.5rem);
    --f-width-xs: calc(100vw - 5.25rem);

}

*{
    font-family: var(--f-family-Satoshi);
}

