/*------------------CSS---------------------*\
    Fichero de BannerSingUp de toda la app.
\*-------------------------------------------*/

.header_offer {
    height: 32px;
    width: 100%;
    background-color: #0d0d0d;
    color: var(--f-color-text-light);
    display: flex;
    justify-content: center;
    font-size: clamp(10px, 3vw, 14px);

    .header_offer_text {
        width: var(--f-width-lg);
        max-width: 1440px;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h5 {
            margin: 0;

        }

        .singup {
            text-decoration: underline;
            cursor: pointer;
        }

        .close {
            position: absolute;
            top: 4px;
            right: 5.25rem;
            cursor: pointer;
        }
    }
}

/*--------------Media Query---------------*\*/
@media (width < 480px) {
    .header_offer {
        height: 48px;

        .header_offer_text {
            width: calc(100vw - 2rem);
            justify-content: space-between;

            .close {
                display: none;
            }
        }
    }
}