.header {
    min-width: 390px;
    width: 100%;
    max-width: 100vw;
    height: 128px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: clamp(14px, 3vw, 16px);
}

.header_primary {
        width: var(--f-width-lg);
        max-width: 1440px;
        max-height: 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 1rem;
        padding: 2rem 0;

        .header_burger{
            display: none;
        }


        .nav {
            margin: 0;
            padding: 0;
        }

        .header_nav {
            display: block;
            width: 100%;
            max-width: 325px;
        }


        .nav_ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            gap: .25rem;

            .nav_ul-li {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 0;
                margin: 0;
                list-style-type: none;
                color: var(--f-color-dark);
                cursor: pointer;

                a {
                    color: var(--f-color-dark);
                    text-decoration: none;
                }
            }
        }

        .header_search {
            .search-mobile{
                display: none;
            }
            min-width: 32px;
            width: 100%;
            max-width: 586px;

            a {
                display: flex;
                align-items: center;
                gap: .50rem;
                box-sizing: border-box;
                width: 100%;
                padding: 0.75rem 1rem;
                border-radius: 3.8rem;
                color: var(--f-color-dark);
                text-decoration: none;
                background-color: var(--f-color-light);
            }
        }

        .header_icon {
            display: flex;
            gap: 1rem;
        }

        .icon-light {
            color: var(--f-color-dark);
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
        }
}

@media (width < 980px) {
    .header{
        height: auto;
    }

    .header_primary{
        width: var(--f-width-md);

        .header_nav {
            display: none;
        }

        .header_search{
            .search-mobile{
                display: block;
                float: right;
                padding: .5rem;
                border-radius: 3.8rem;
                background-color: var(--f-color-light);
            }

            .search{
                display: none;
            }
        }
    }

    .header_burger{
        min-width: 25px;
        height: 25px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: relative;

        .line_burger{
            display: block;
            width: 100%;
            height: 3px;
            background-color: #8C3A87;
            cursor: pointer;
        }

        .line_burger::before {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #8C3A87;
            position: absolute;
            top: 0;
        }

        .line_burger::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: #8C3A87;
            position: absolute;
            bottom: 0;
        }

        .header_burger_ul{
            display: none;
        }
    }
}

@media (width < 480px) {
    .header_primary{
        width: var(--f-width-xs);
    }
}