/*------------------CSS---------------------*\
    Estilos del pop-up que presenta las configuraciones de busquedad.
\*-------------------------------------------*/

.shop_setting{
    width: 100vw;
    min-height: 50svh;
    max-height: 80vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    background-color: var(--f-color-text-light);
    box-sizing: border-box;
    padding: 1rem 0;

    .shop_setting_principal{
        width: var(--f-width-xs);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            margin: 0;
            font-size: 1.3rem;
        }
    }

    .shop_setting_types{
        width: var(--f-width-xs);
    }

    .detail{
        width: var(--f-width-xs);
    }

    .detail summary {
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: .5rem;

       .close {
            font-size: 1.4rem;
            margin-right: .8rem;
            transition: transform .3s ease;
        }

    }

    .detail-content {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
    .detail[open] summary .close {
        transform: rotate(90deg);
    }

    .inputPrice{
        display: flex;
        gap: 1rem;

        .priceBtn{
            margin-left: .6rem;
            width: 3rem;
            border: none;
            border-bottom: 1px solid var(--f-color-text-dark);
            background: transparent;
            text-align: right;
        }
    }

    .detail-content-color{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        flex-wrap: wrap;

        .color{
            width: 3rem;
            height: 3rem;
            border-radius: 2rem;
            border: 1px solid var(--f-color-text-dark);
        }

        .green{
            background-color: green;
        }

        .red{
            background-color: red;
        }

        .yellow{
            background-color: yellow;
        }

        .orange{
            background-color: orange;
        }

        .aqua{
            background-color: aqua;
        }

        .blue{
            background-color: blue;
        }

        .purple{
            background-color: purple;
        }

        .white{
            background-color: white;
        }

        .black{
            background-color: black;
        }

    }

    .detail-content-sizes{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: .8rem;

        .size{
            padding: .4rem .8rem;
            border: 1px solid rgba(0,0,0,.30);
            border-radius: 3.85rem;
            background-color: var(--f-color-text-light);

        }
            .active{
                background-color: var(--f-color-text-dark);
                color: var(--f-color-text-light);
            }
    }
}

/*--------------Media Query---------------*\*/

@media (width > 480px ){
    .shop_setting{
        width: 40vw;
        max-width: 350px;
        min-height: 70svh;
        border-top-left-radius: 0;
        border-bottom-right-radius: 2rem;
        bottom: 4rem;
        left: 0;
        color: var(--f-color-text-dark);

        .shop_setting_principal, .shop_setting_types, .detail{
            width: 100%;
            padding: 0 1.5rem;
            box-sizing: border-box;
        }

        .detail-content-color{
            gap: .8rem;
        }
    }
}

/*--------------Modo Dark---------------*\*/

.dark{
    .shop_setting{
        background-color: var(--f-color-text-dark);
        border: 1px solid var(--f-color-text-light);
        color: var(--f-color-text-light);
    }
}