/*------------------CSS---------------------*\
    Estilos de la la linea donde se verán los logos de las marcas.
\*-------------------------------------------*/

.section_brands {
    min-width: 390px;
    max-width: 100vw;
    /*min-height: 6.5rem;*/
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;

    .section_brands-images{
        width: var(--f-width-lg);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0;
    }

    img {
        width: auto;
        height: 33px;
    }
}

/*--------------Media Query---------------*\*/

@media (width < 480px) {
    .section_brands{
        .section_brands-images{
            padding: 3rem 0;
            width: calc(100vw - 2rem);
            gap-column: 1.5rem;
            row-gap: 1rem;
        }
    }
}

/*--------------Modo Print---------------*\*/

@media print{
    .section_brands{
        height: 250px;
        position: absolute;
        bottom: 0;
        left: 0;
        page-break-after: avoid;
    }
    .section_brands-images{
        filter: invert(1);
    }
}