html{
    font-size: clamp(0.75rem, 0.526vw + 0.618rem, 1.25rem);
}

.body{
/*    background-color: #0dd316;*/
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    .home-line{
        width: 100%;
        height: 2px;
        display: flex;
        justify-content: center;

        .home-line-color{
            width: calc(100vw - 10.5rem);
            background-color: var(--f-color-price-old);
        }
    }
}

